body {
    background-image: linear-gradient(to right top, #0b0c10, #111217, #15171d, #181c24, #1b212a, #1e2832, #202f3b, #213643, #21414d, #214d56, #24585d, #2b6461);
    font-family: 'Quattrocento', serif;
    font-weight: 500;
    font-size: 130%;
    margin: auto;
    padding-left: 20px;
    line-height: 1.3;
    border: 5px #c5c6c7;
    border-style: solid;
    border-radius: 40px;
    box-shadow: 0 0 15px white;
    width: 35%;
    min-width:300px;
    max-width: 100%;
     
}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #66fcf1;
   
    
}

ul {
    text-align: left;
    color: #c5c6c7;

}

ol {
    text-align: left;
    color: #c5c6c7;

}
p {
    color: #c5c6c7;

}
a[href] {
    color: #66fcf1;
    background-color: transparent;
    text-decoration: underline;
    
    }   

a:hover {
    color: #45a29e;
    background-color: transparent;
    text-decoration: underline;
}
figure {
    text-align: center;
    border: 5px solid #45a29e;
    background-color: #212431;
    padding: 1%;
    margin: 8%;
    width: auto;
    border-radius: 20px;
    box-shadow: 7px 7px 5px #0b0c10;
}
figure img,iframe {
    border-radius: 20px;
}
figcaption {
    text-align: left;
    padding-left: 17%;
    color: #c5c6c7;
}
b {
    font-weight: 900;
}
img, iframe {
    max-width:100%;
}

  