body {
    background-color: #1f2833;
    font-family: 'Quattrocento', serif;
    font-weight: 600;
    font-size: 130%;
    padding-left: 29%;
    padding-right: 29%;
    
    line-height: 1.3;
}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #66fcf1;
}

ul {
    text-align: left;
    color: #c5c6c7;

}

ol {
    text-align: left;
    color: #c5c6c7;

}
p {
    color: #c5c6c7;

}
a[href] {
    color: #66fcf1;
    background-color: transparent;
    text-decoration: underline;
    
    }   
figcaption {
    color: #c5c6c7;

}
a:hover {
    color: #45a29e;
    background-color: transparent;
    text-decoration: underline;
}